<div class="whole">
    <div class="details">
        <div class="image">
            <img src="http://localhost/{{details.image}}" />
        </div>
        <div class="content">
            <h4>NAME: {{details.name}}</h4>
            <h4>THEME: {{details.theme}}</h4>
            <h4>ARTIST: {{details.artist}}</h4>       
            <h4>SIZE: {{details.sizeinch}}</h4>
            <h4>TYPE: {{details.type}}</h4>
            <h4>PRICE: {{details.price | currency:"USD"}}</h4>
        </div>
       
    </div>
</div>
<hr>
<app-reviewform></app-reviewform>
<div class="review">
<h1>People's Review about the product....</h1>
<div class="review card" *ngFor="let x of reviews">
    <div *ngIf="details.name==x.name">
    {{x.message}}<hr/>
</div>
</div>
</div>


