.slide
{
    width: 100%;
    height: 400px;
    opacity: 0.3;
}
h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: -300px;
    margin-left: 400px;
    color: rgb(0, 0, 0);
    width: 500px;
    
}
.button
{
    margin-top: 150px;
    
}
button{
    background-color: rgb(207, 194, 194);
    color: rgb(10, 9, 9);
    float:left;
    margin-left: 40px;
    
}
h1
{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
}
.word {
    white-space: nowrap; 
    overflow: hidden; 
    text-align: center;
    animation: show-word 5s steps(30) forwards;
    /* display: inline-block;  */
    word-spacing: 0.3em; 
    
  }
  
  @keyframes show-word {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  