#form
{
    padding-left: 580px;
    margin-top: -70px;
}
h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
#copy
{
    margin-top: -100px;
    margin-left: 82%;
}

#contact
{
    padding-left: 50px;
    padding-top: 40px;
}
.footer
{
    background-color:rgb(207, 194, 194);
    height:200px;
}
.but
{
    background-color:rgb(144, 131, 131) ;
}
.but:hover
{
    background-color: rgb(232, 223, 223);
}