mat-card
{
    background-color:  rgb(207, 194, 194);
    width:700px;
    margin-left: 280px;
    text-align: center;

    
}
.formbox
{
    margin-left: 34%;
    width: 300px;
  height: 70px;
  margin-top: 20px;
}
h4{
    font-weight: bold;
}
textarea{
    width:300px;
    height: 70px;
}
button{
    margin-left: 43%;
    margin-top: 50px;
}
