<div class="second">
    <div class="slideshow">
      <img #slideshow class="slide"src="http://localhost/i2.jpg">
      <h2>Everything you imagine is "REAL"<br>One Of The Best Place To Know Affordable Indian Art. Know More From Our Wide Range Today. Enhance Your Living Space With Top Quality Indian Artwork.</h2>
    </div>
    <div class="button">
        <button mat-button>Paintings</button>
        <button mat-button>Oil Paintings</button>
        <button mat-button>Landscapes</button>
        <button mat-button>Featured</button>
        <button mat-button>Affordable Pricing</button>
        <button mat-button>New This week</button>
        <button mat-button>Creative Works</button>
        <button mat-button>Mandala</button>
      <br>
    <br><h1>Discover Art You Love From the World's Leading Online Gallery</h1>
    </div>
</div>
<app-suggestion></app-suggestion>
  
