.example-card 
{
    width: 300px;
    height:70%;
    float:left;
    padding: 15px;
    margin-left: 13px;
    background-color: rgb(207, 194, 194);
    margin-top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

  a{
    text-decoration: none;
    color: black;
   
  }
  a:hover{
    color: rgb(66, 59, 59);
   
  }
img{
    width:270px;
    height:250px;
    margin-top: -10px;
  }
  mat-card-title
  {
    margin-top: 0px;
    margin-left:-65px;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  mat-card-subtitle
  {
    margin-top: 5px;
    margin-left:-65px;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  p{
    margin-top: 10px;
    margin-left: -15px;
  }