<a routerLink="/artworks/{{artcard.id}}">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{artcard.name}}</mat-card-title>
          <mat-card-subtitle>{{artcard.theme}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="http://localhost/{{artcard.image}}"alt="Photo of Arts">
        <mat-card-content>
          <p>
            Type: {{artcard.type}}<br>
            Artist: {{artcard.artist}}<br>
            Price: {{artcard.price | currency :'USD'}}
          </p>
        </mat-card-content>
        
      </mat-card>
</a>