<div class="head">
    <h1><b>Amazing collections from Amazee......</b></h1>
    
    <hr>
   <div class="row">
    <h3>Filter by theme:</h3>
    <select [(ngModel)]="type" class="opt-bar">
        <option *ngFor="let theme of themes">{{theme}}</option>
    </select>  
    <h3>Filter by Price:</h3> 
    <p>0</p>
    <mat-slider class="slider" min="0" max="1000" step="200">
        <input [(value)]="min" matSliderStartThumb>
        <input [(value)]="max" matSliderEndThumb>
      </mat-slider>   
      <p id="amt">1000</p>
      <h3>Filter by Artist:</h3>
      <select [(ngModel)]="type1" class="opt-bar">
        <option *ngFor="let artist of artists">{{artist}}</option>
    </select> 
    <h3>Filter by Type:</h3>
    <select [(ngModel)]="type2" class="opt-bar">
        <option *ngFor="let artype of artypes">{{artype}}</option>
    </select> 
   </div>
<hr>
</div>

<app-cards *ngFor="let x of  cardlist| filter:type | price:min:max | artistFilter:type1| artType:type2" [artcard]="x"></app-cards>
